.landing-page {
  background-color: #ffffff;
  width: 100%;
}
.landing-page .content{
  padding-top: 132px;
}

.landing-page .div {
  background-color: #ffffff;
  width: 100%;
  position: relative;
}

.landing-page .ecosystem {
  width: 100%;
  padding: 100px 150px;
  background-color: #0051f9;
}

.landing-page .frame {
  display: flex;
  flex-direction: column;
  width: 1620px;
  align-items: flex-start;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .frame-2 {
  display: flex;
  flex-direction: column;
  width: 1060px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .AI-driven-learning {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.landing-page .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 42px;
}

.landing-page .div-2 {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
}

.landing-page .span {
  font-weight: 500;
  color: #ffffff;
  line-height: 0.1px;
}

.landing-page .text-wrapper-2 {
  font-weight: 700;
  color: #ffffff;
  line-height: 26px;
}

.landing-page .frame-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .frame-7 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.landing-page .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #ffffff26;
  border: 1px solid;
  border-color: #ffffff33;
}

.landing-page .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}

.landing-page .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #ffffffbf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}

.landing-page .text-wrapper-5 {
  width: fit-content;
  margin-top: -1.00px;
  font-weight: 700;
  color: #ffffff;
  line-height: 26px;
  white-space: nowrap;
  position: relative;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  letter-spacing: 0;
}

.landing-page .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #ffffffbf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.landing-page .frame-9 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.landing-page .frame-10 {
  display: flex;
  flex-direction: column;
  width: 362px;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  align-self: stretch;
  background-color: #ffffff26;
  border: 1px solid;
  border-color: #ffffff33;
}

.landing-page .text-wrapper-7 {
  font-weight: 500;
  color: #ffffff;
  line-height: 26px;
}

.landing-page .frame-11 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .frame-12 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.landing-page .frame-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff26;
  border: 1px solid;
  border-color: #ffffff33;
}

.landing-page .comparison {
  width: 100%;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 150px 120px;
}

.landing-page .frame-14 {
  display: flex;
  flex-direction: column;
  width: 1620px;
  align-items: center;
  gap: 45px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 52px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border: 1px solid;
  border-color: #00000026;
}

.landing-page .frame-16 {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #0051f9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #00000026;
}

.landing-page .div-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ff41000d;
}

.landing-page .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-17 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 10px 10px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff1a;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #00000033;
}

.landing-page .frame-18 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 20px 10px 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff1a;
}

.landing-page .frame-19 {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #00000026;
}

.landing-page .frame-20 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #ff41000d;
}

.landing-page .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-21 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #00000026;
}

.landing-page .text-wrapper-11 {
  position: relative;
  flex: 1;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: normal;
}

.landing-page .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #000000bf;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-13 {
  position: relative;
  flex: 1;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000bf;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-14 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #000000bf;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-15 {
  position: relative;
  flex: 1;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-16 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-17 {
  position: relative;
  flex: 1;
  font-family: "DM Sans", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-18 {
  font-weight: 900;
  color: #000000bf;
  letter-spacing: 0;
  position: relative;
  flex: 1;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  line-height: normal;
}

.landing-page .text-wrapper-19 {
  position: relative;
  flex: 1;
  font-family: "DM Sans", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: normal;
}

.landing-page .skilling {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 120px 150px 120px;
}

.landing-page .frame-wrapper {
  display: flex;
  flex-direction: column;
  height: 339px;
  align-items: flex-start;
  gap: 10px;
  padding: 80px 452px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #0051f9;
}

.landing-page .frame-22 {
  display: flex;
  flex-direction: column;
  width: 1016px;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-20 {
  align-self: stretch;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.30px;
  position: relative;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  color: #ffffff;
  line-height: normal;
}

.landing-page .text-wrapper-21 {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 52px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-23 {
  display: flex;
  flex-direction: column;
  width: 1620px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  margin-top: -66px;
}

.landing-page .frame-24 {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #0051f9;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #00000033;
}

.landing-page .frame-25 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #00000033;
}

.landing-page .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-26 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff1a;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #00000033;
}

.landing-page .frame-27 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #ffffff1a;
}

.landing-page .text-wrapper-23 {
  position: relative;
  width: fit-content;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-28 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #0051f91a;
}

.landing-page .text-wrapper-24 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-29 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #00000026;
}

.landing-page .text-wrapper-25 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000bf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #00000026;
}

.landing-page .text-wrapper-26 {
  font-weight: 500;
  color: #000000bf;
  font-size: 16px;
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-27 {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000bf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-31 {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-28 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #00000026;
}

.landing-page .levelup-track-for {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-29 {
  font-weight: 700;
  color: #000000;
}

.landing-page .text-wrapper-30 {
  font-weight: 500;
  font-style: italic;
  color: #000000bf;
}

.landing-page .launchpad-track-for {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-31 {
  font-weight: 500;
  color: #000000bf;
}

.landing-page .frame-33 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #00000026;
}

.landing-page .program {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 10px;
  padding: 90px 60px 90px 100px;
}
.pt-0{
  padding-top:  0px !important;
}

.landing-page .frame-34 {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .frame-35 {
  display: flex;
  flex-direction: column;
  width: 810px;
  align-items: flex-start;
  gap: 10px;
  padding: 90px 100px;
  position: relative;
  background-color: #0051f90d;
}

.landing-page .frame-36 {
  display: flex;
  flex-direction: column;
  width: 650px;
  align-items: flex-start;
  gap: 45px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -40.00px;
}

.landing-page .text-wrapper-32 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-33 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #0051f9;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-38 {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-34 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.landing-page .text-wrapper-35 {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.landing-page .group-wrapper {
  display: flex;
  width: 810px;
  height: 742px;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  background: url(https://c.animaapp.com/m8hlwus9LPpyDq/img/frame-14720.png) 50%
    50% / cover;
}

.landing-page .group {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #ff4100;
}

.landing-page .fac-icon {
  position: relative;
  width: 83px;
  height: 83px;
  top: 34px;
  left: 34px;
  background-image: url(https://c.animaapp.com/m8hlwus9LPpyDq/img/layer-1.png);
  background-size: 100% 100%;
}

.landing-page .industry {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 10px;
  padding: 120px 150px;
}

.landing-page .frame-39 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .frame-40 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .frame-41 {
  display: flex;
  flex-direction: column;
  width: 995px;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-36 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 42px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-37 {
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  text-align: center;
  line-height: 38px;
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  letter-spacing: 0;
}

.landing-page .frame-42 {
  display: flex;
  flex-direction: column;
  height: 336px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.landing-page .frame-43 {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .frame-44 {
  gap: 21px;
  padding: 35px 30px;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000026;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.landing-page .fac-icon-wrapper {
  position: relative;
  width: 34px;
  height: 34px;
  background-color: #ff4100;
}

.landing-page .fac-icon-2 {
  background-image: url(https://c.animaapp.com/m8hlwus9LPpyDq/img/layer-1-1.png);
  position: relative;
  width: 31px;
  height: 31px;
  top: 1px;
  left: 1px;
  background-size: 100% 100%;
}

.landing-page .frame-45 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.landing-page .text-wrapper-38 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-39 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
}

.landing-page .fac-icon-3 {
  background-image: url(https://c.animaapp.com/m8hlwus9LPpyDq/img/layer-1-2.png);
  position: relative;
  width: 31px;
  height: 31px;
  top: 1px;
  left: 1px;
  background-size: 100% 100%;
}

.landing-page .text-wrapper-40 {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
}

.landing-page .fac-icon-4 {
  background-image: url(https://c.animaapp.com/m8hlwus9LPpyDq/img/layer-1-3.png);
  position: relative;
  width: 31px;
  height: 31px;
  top: 1px;
  left: 1px;
  background-size: 100% 100%;
}

.landing-page .frame-46 {
  display: flex;
  align-items: flex-start;
  gap: 21px;
  padding: 35px 30px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000026;
}

.landing-page .fac-icon-5 {
  background-image: url(https://c.animaapp.com/m8hlwus9LPpyDq/img/layer-1-4.png);
  position: relative;
  width: 31px;
  height: 31px;
  top: 1px;
  left: 1px;
  background-size: 100% 100%;
}

.landing-page .fac-icon-6 {
  background-image: url(https://c.animaapp.com/m8hlwus9LPpyDq/img/layer-1-5.png);
  position: relative;
  width: 31px;
  height: 31px;
  top: 1px;
  left: 1px;
  background-size: 100% 100%;
}

.landing-page .fac-icon-7 {
  background-image: url(https://c.animaapp.com/m8hlwus9LPpyDq/img/layer-1-6.png);
  position: relative;
  width: 31px;
  height: 31px;
  top: 1px;
  left: 1px;
  background-size: 100% 100%;
}

.landing-page .bridge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 120px 150px 0px;
}

.landing-page .smiley-man-work {
  position: relative;
  width: 810px;
  height: 686px;
  object-fit: cover;
}

.landing-page .frame-47 {
  display: flex;
  flex-direction: column;
  width: 810px;
  height: 686px;
  align-items: flex-start;
  gap: 10px;
  padding: 90px 100px;
  position: relative;
  background-color: #0051f90d;
}

.landing-page .frame-48 {
  display: flex;
  flex-direction: column;
  width: 610px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.landing-page .text-wrapper-41 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #232323;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .div-3 {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
}

.landing-page .text-wrapper-42 {
  font-weight: 500;
  color: #000000bf;
  line-height: 26px;
}

.landing-page .text-wrapper-43 {
  font-weight: 700;
  color: #000000;
  line-height: 26px;
}

.landing-page .frame-49 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .frame-50 {
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.landing-page .ellipse-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 0px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .ellipse {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #ff4100;
  border-radius: 4px;
}

.landing-page .div-4 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
}

.landing-page .about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 843px;
  align-items: flex-start;
  gap: 10px;
  padding: 100px 150px;
  
  background: linear-gradient(
      90deg,
      rgba(0, 81, 249, 1) 35%,
      rgba(0, 81, 249, 0) 0%
    ), url('../img/about.png') 50% 50% / cover;
}

.landing-page .frame-51 {
  display: flex;
  flex-direction: column;
  width: 795px;
  height: 607px;
  align-items: flex-start;
  gap: 10px;
  padding: 83px 90px;
  position: relative;
  background-color: #ffffff;
}

.landing-page .frame-52 {
  display: flex;
  flex-direction: column;
  width: 615px;
  height: 440px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.landing-page .text-wrapper-44 {
  font-size: 52px;
  letter-spacing: 0.52px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  line-height: normal;
}

.landing-page .text-wrapper-45 {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000bf;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
}

.landing-page .hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 686px;
  align-items: flex-end;
  gap: 10px;
  padding: 120px 150px;
  background-image: url('../img/hero-image.png');
}

.landing-page .frame-53 {
  position: absolute;
  width: 100%;
  height: 686px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.landing-page .group-2 {
  position: relative;
  width: 2062px;
  height: 948px;
  left: -53px;
}

.landing-page .img {
  position: absolute;
  width: 318px;
  height: 430px;
  top: 89px;
  left: 1655px;
}

.landing-page .overlap-group {
  position: absolute;
  width: 1280px;
  height: 948px;
  top: 0;
  left: 0;
}

.landing-page .latin-confident {
  position: absolute;
  width: 1227px;
  height: 686px;
  top: 0;
  left: 53px;
}

.landing-page .ellipse-2 {
  position: absolute;
  width: 447px;
  height: 444px;
  top: 504px;
  left: 372px;
  background-color: #0051f9;
  border-radius: 223.5px / 222px;
  transform: rotate(180deg);
  opacity: 0.55;
}

.landing-page .ellipse-3 {
  position: absolute;
  width: 193px;
  height: 193px;
  top: 111px;
  left: 0;
  background-color: #0051f9;
  border-radius: 96.5px;
  transform: rotate(180deg);
  opacity: 0.45;
}

.landing-page .ellipse-4 {
  position: absolute;
  width: 79px;
  height: 79px;
  top: 175px;
  left: 740px;
  background-color: #0051f9;
  border-radius: 39.5px;
  transform: rotate(180deg);
  opacity: 0.25;
}

.landing-page .frame-54 {
  display: flex;
  flex-direction: column;
  width: 849px;
  align-items: flex-start;
  gap: 49px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-46 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 72px;
  letter-spacing: 0.72px;
  line-height: normal;
}

.landing-page .text-wrapper-47 {
  position: relative;
  width: 795px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 60px;
}

.landing-page .frame-55 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .overlap-group-wrapper {
  position: relative;
  width: 150px;
  height: 56.09px;
}

.landing-page .overlap-group-2 {
  position: relative;
  width: 150px;
  height: 56px;
}

.landing-page .msme-logo {
  position: absolute;
  width: 39px;
  height: 56px;
  top: 0;
  left: 0;
}

.landing-page .msme-logo-x {
  position: absolute;
  width: 119px;
  height: 48px;
  top: 4px;
  left: 31px;
}

.landing-page .line {
  position: relative;
  width: 1px;
  height: 50px;
  object-fit: cover;
}

.landing-page .frame-56 {
  position: relative;
  width: 229px;
  height: 50px;
  background-image: url(https://c.animaapp.com/m8hlwus9LPpyDq/img/group-1.png);
  background-size: 100% 100%;
}

.landing-page .header {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  padding: 15px 0px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #ffffff;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #00000026;
}

.landing-page .header.sticky-header {
    top: 0px;
    --header-background: #ffffff;
    --menu-color: #000000;
    --logo-color: #0051F9;
}

.landing-page .frame-57 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .logo-on-dark {
  position: relative;
  width: 224px;
  height: 50px;
  transition: width 0.25s ease;
}



.landing-page .frame-58 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .img-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.landing-page .text-wrapper-48 {
  position: relative;
  width: fit-content;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-59 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #00000026;
}

.landing-page .frame-60 {
  display: inline-flex;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .frame-61 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 10px;
  position: relative;
  flex: 0 0 auto;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #0051f9;
}

.landing-page .text-wrapper-49 {
  position: relative;
  width: fit-content;
  margin-top: -3.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-62 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 10px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-50 {
  font-size: 18px;
  letter-spacing: 0;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  line-height: normal;
}

.landing-page .frame-63 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .social-icons-wrapper {
  display: flex;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 13px;
  position: relative;
  background-color: #ffffff33;
  border-radius: 50px;
}

.landing-page .social-icons {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: -2.00px;
  margin-bottom: -2.00px;
  margin-left: -2.00px;
  margin-right: -2.00px;
}
/* Insert original CSS code here */

/* Additional refactored styles */
body {
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #000000;
}

.landing-page {
  max-width: 100%;
  margin: 0 auto;
}


.landing-page .header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 150px;
}

.landing-page .header .logo {
  width: 224px;
  height: auto;
  transition: width 0.25s ease;
}
.landing-page .header.sticky-header .logo{
  width: 175px;
}

.contact-info {
  display: flex;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  padding:  0 150px;
  margin-bottom: -1px;
}

.main-nav ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}
.main-nav ul li{
  display: inline-block;
}


.main-nav ul li a {
  display: inline-flex;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 10px;
  border-bottom: 3px solid transparent;
  transition: all 0.25s ease;
}

.main-nav ul li a.active,
.main-nav ul li a:hover {
  color: #0051f9;
  border-bottom-color: #0051f9;
}

.social-links {
  display: flex;
  gap: 5px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.hero {
  display: flex;
  align-items: center;
  padding: 120px 0;
}

.hero-content {
  flex: 1;
}

.hero h1 {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #0051F9;
}

.hero p {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 49px;
}

.certifications {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-image {
  flex: 1;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.about {
  background: linear-gradient(
      89deg,
      rgba(0, 81, 249, 1) 0%,
      rgba(0, 81, 249, 0) 0%
    ), url(https://c.animaapp.com/m8hlwus9LPpyDq/img/about.png) 50% 50% / cover;
  padding: 100px 0;
}

.about-content {
  background-color: #ffffff;
  padding: 83px 90px;
  max-width: 795px;
}

.about h2 {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  margin-bottom: 20px;
}

.bridge {
  display: flex;
  align-items: center;
  padding: 120px 0;
}
.bridge img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bridge-content {
  padding: 90px 100px;
  background: rgba(0, 81, 249, 0.05);

}

.bridge h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.bridge p,
.bridge li {
  font-size: 18px;
  margin-bottom: 10px;
}

.bridge ul {
  list-style-type: none;
  padding: 0;
}

.bridge li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ff4100;
  border-radius: 50%;
  margin-right: 10px;
}

.industry {
  padding: 120px 0;
  text-align: center;
}
.industry .section-header{
  margin: 0 auto 45px;
}
.industry h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.industry .section-header p {
  font-size: 24px;
  max-width: 995px;
  
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.feature {
  flex-basis: calc(33.333% - 20px);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  text-align: left;
  display: flex;
}

.feature .feature-content{
  flex: 1 0;
  padding-left: 21px;
}

.feature img {
  background-color: #ff4100;
  padding: 1px;
  margin-bottom: 21px;
  width: 34px;
  height: 34px;
}

.feature h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.feature p {
  font-size: 18px;
}

.program {
  padding: 120px 0;
  background-color: rgba(0, 81, 249, 0.05);
}

.program h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 45px;
}

.programs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.program-item {
  flex: 1;
}

.program-item h3 {
  font-size: 30px;
  font-weight: 700;
  color: #0051f9;
  margin-bottom: 15px;
}

.program-item p {
  font-size: 20px;
}

.skilling {
  padding: 120px 0;
  text-align: center;
}

.skilling h2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.skilling h3 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 45px;
}

.program-comparison table {
  width: 100%;
  border-collapse: collapse;
}

.program-comparison th,
.program-comparison td {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: left;
}

.program-comparison th {
  background-color: #0051f9;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

.program-comparison td {
  font-size: 16px;
}
.program-comparison table tr td:first-child{
  font-weight: 900;
  font-size: 20px;
  background: rgba(0, 81, 249, 0.1);
}

.comparison {
  padding: 120px 0;
}

.comparison h2 {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}

.comparison-table table {
  width: 100%;
  border-collapse: collapse;
}

.comparison-table th,
.comparison-table td {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
}

.comparison-table th {
  background-color: #0051f9;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}

.comparison-table td {
  font-size: 14px;
  font-weight: 500;
}
.comparison-table table tbody tr td:first-child {
  background: rgba(255, 65, 0, 0.05);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}
.comparison-table table tbody tr td.bold{
  font-weight: 900;
  color: #000000;
}

.ecosystem {
  background-color: #0051f9;
  color: #ffffff;
  padding: 100px 0;
}

.ecosystem h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.ecosystem > p {
  font-size: 20px;
  margin-bottom: 50px;
}

.platforms {
  gap: 60px;
  flex-direction: column;
  display: flex;
}

.platform {
  flex: 1;
}

.platform h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.platform > p {
  font-size: 20px;
  margin-bottom: 30px;
}

.platform ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}

.platform li {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin-bottom: 0px;
  flex:  1 0;
}

.platform h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.platform li p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
}

.student-employability .exam-pattern {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 165px;
    padding: 120px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.container {
    padding: 0px 150px;
    width: 100%;
    margin: 0 auto;
}
.student-employability .frame-11 {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex-wrap: wrap;
}
.student-employability .frame-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}
.student-employability .frame-4 {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}
.student-employability .text-wrapper-14 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    color: #232323;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}
.student-employability .text-wrapper-15 {
    position: relative;
    align-self: stretch;
    font-family: "DM Sans", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 46px;
}
.student-employability .text-wrapper-16 {
    position: relative;
    font-family: "DM Sans", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
}
.student-employability .frame-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}
.student-employability .frame-13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    padding: 0px;
}
.student-employability .frame-5 {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}
.student-employability .frame-5 {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}
.student-employability .text-wrapper-17 {
    margin-top: -1.00px;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    position: relative;
    align-self: stretch;
    font-family: "DM Sans", Helvetica;
    color: #000000;
    letter-spacing: 0;
}
.student-employability .frame-5 {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}
.student-employability .frame-7 {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.student-employability .rectangle-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0px;
    position: relative;
    flex: 0 0 auto;
}
.student-employability .rectangle {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #ff4100;
    border-radius: 8px;
}
.student-employability .div-3 {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: #232323;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
}
.student-employability .span {
    font-weight: 900;
    color: inherit;
}
.student-employability .text-wrapper-9 {
    font-weight: 500;
    color: inherit;
}
.student-employability .text-wrapper-17 {
    margin-top: -1.00px;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    position: relative;
    align-self: stretch;
    font-family: "DM Sans", Helvetica;
    color: #000000;
    letter-spacing: 0;
}

.testimonial-wrapper .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 120px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.testimonial-header {
    margin-bottom: 40px;
}
.testimonial-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.testimonial-wrapper .frame-26 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.testimonial-wrapper .testimonial-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    color: #0051f9;
    font-size: 24px;
    text-align: center;
    letter-spacing: 4.80px;
    line-height: normal;
}
.testimonial-wrapper .text-wrapper-28 {
    position: relative;
    width: fit-content;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    color: #232323;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}
.testimonial-item {
    display: flex;
    flex-direction: column;
    min-height: 428px;
    align-items: flex-start;
    padding: 60px;
    background-color: #0051f90d;
}
.testimonial-item {
    display: flex;
    flex-direction: column;
    min-height: 428px;
    align-items: flex-start;
    padding: 60px;
    background-color: #0051f90d;
}
.testimonial-wrapper .frame-28 {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 30px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
}
.testimonial-wrapper .testimonial-item-content {
  display: flex;
  flex-direction: column;
  flex:  1;
}
.testimonial-wrapper .testimonial-text {
    position: relative;
    flex: 1;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
}
.testimonial-wrapper .testimonial-item-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-top: 30px;
}
.testimonial-wrapper .testimonial-item-meta .name {
    position: relative;
    margin-top: -1.00px;
    font-family: "DM Sans", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
}
.testimonial-wrapper .testimonial-item-meta .position {
    position: relative;
    font-family: "DM Sans", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
}
.testimonial-wrapper .testimonial-bg{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/testimonial-bg.png');
  background-size: cover;
  background-position: center;
}
.testimonial-wrapper .testimonial-bg img{
  width: 100%;
  max-width: 50%;
}

.macbook-pro .footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 0px 50px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #0051f9;
}
.macbook-pro .footer .footer-35 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
}
.macbook-pro .footer .footer-header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    display: flex;
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.macbook-pro .footer-36 {
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}
.macbook-pro .footer .logo-on-dark {
    background-image: url(../img/group.png);
    position: relative;
    width: 224px;
    height: 50.0px;
    background-size: 100% 100%;
}
.macbook-pro .footer .social-icon-group {
    display: flex;
    gap: 24px;
}
.macbook-pro .footer .social-icon-group-label {
    display: flex;
    align-items: center;
}
.macbook-pro .footer .social-icon-group .footer-text-wrapper-37 {
    position: relative;
    width: fit-content;
    font-family: "DM Sans", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
.macbook-pro .footer .social-icon-list ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.macbook-pro .footer .footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.macbook-pro .footer .footer-link:hover{
  opacity: 0.75;
  text-decoration: underline;
}
.macbook-pro .footer .social-icons-wrapper {
    display: flex;
    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    position: relative;
    background-color: #ffffff33;
    border-radius: 50px;
}
.macbook-pro .footer-39 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
}
.macbook-pro .footer .footer-navbar ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.footer-columns{
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.macbook-pro .footer .footer-41 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    position: relative;
    flex: 0 0 auto;
    width: 100%;
}
.macbook-pro .footer .footer-42 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.macbook-pro .footer-text-wrapper-39 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
}
.macbook-pro .footer-text-wrapper-40 {
    position: relative;
    align-self: stretch;
    font-family: "DM Sans", Helvetica;
    font-weight: 500;
    color: #ffffffbf;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0;
    line-height: 26px;
    max-width: 965px;
}
.footer-contacts ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contacts ul li a{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer-contacts ul li a:hover{
  text-decoration: underline;
  opacity: 0.75;
}
.footer .copyright{
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 15px;
}
.footer .copyright p{
  width: 100%;
  max-width: unset;
  text-align: center;
}
.page-fill{
  position: absolute;
  top: 0px;
  height: 4px;
  left: 0px;
  width: 0%;
  background-color: #ff4100;
}